@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.video-image {
		@apply relative overflow-hidden sm:w-[640px] lg:h-[360px] sm:h-[480px] mt-8 sm:mt-0 h-[280px] mb-[48px] w-[366px];
	}
}
.background-logo {
	background: rgb(0 0 0 / 40%);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -8;
}

html {
	/* background-color: black; */
	scroll-behavior: smooth;
}

.form-input:not(:placeholder-shown) + .form-label {
	top: -2px;
	left: 24px;
	font-size: 0.75rem;
	line-height: 1rem;
}

.form-input:-webkit-autofill ~ .form-label {
	color: #000;
	top: -5px;
}

.show-question {
	transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}
